# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.apdisk
Icon?

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Crush local data
.crush/

# Skills lock
skills-lock.json

# Agents
.agents/